<h3>This is a single user page</h3>
<p>User name: {{model.fullName}}</p>
<p>This user's nodes:</p>
<ul>
{{#each model.nodes as |node|}}
    <li>{{#link-to 'nodes.node' node}}{{node.title}}{{/link-to}}</li>
{{/each}}
</ul>
{{#link-to 'nodes.index'}}<p>Back to all nodes</p>{{/link-to}}