<h3>Index</h3>
<ul>
{{#each model as |node|}}
    <li>
       
        {{#link-to 'nodes.node' node}}<h3>{{node.title}}</h3>{{/link-to}}
        <p>{{node.dateCreated}}</p>
        <p>{{node.tags}}</p>
        <br>
    </li>  
{{/each}}
</ul>
