<h3>This is a single node page</h3>
<h4>{{model.title}}</h4>
<p>Last modified: {{model.dateModified}}</p>
<p>Contributors:</p>
<ul>
{{#each model.users as |user|}}
    <li>{{#link-to 'users.user' user}}{{user.fullName}}{{/link-to}}</li>
{{/each}}
</ul>
{{#link-to 'nodes.index'}}<p>Back to all nodes</p>{{/link-to}}

